certifi==2018.1.18
Django==2.0.3
django-elasticsearch-dsl==0.4.4
django-extensions==2.0.6
django-widget-tweaks==1.4.1
elasticsearch==5.5.2
elasticsearch-dsl==5.4.0
lxml==4.2.1
python-dateutil==2.7.2
pytz==2018.3
six==1.11.0
urllib3==1.22
