{% extends "snippets/base.html" %}

{% block title %} Change Password {% endblock %}

{% block body_block %}

<form id="cform" class="form" action="" method="post">{% csrf_token %}

  <div class="form-group">
    <label>Old password</label>{{ form.old_password }}
  </div>

  <div class="form-group">
    <label>New password</label>{{ form.new_password1 }}
  </div>
  <div class="form-group">
    <label>Re-enter new password</label>{{ form.new_password2 }}
  </div>

  <input type="submit" value="Change Password" />
</form>


<script>
	$('input', $('#cform')).addClass('form-control');
</script>


{% endblock %}
